@model SkelbimuSvetaine.Models.Rating

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    SkelbimuSvetaine.Models.ld1_gynimasContext db = new ld1_gynimasContext();
                    string id = db.Users.FirstOrDefault(x => x.Username == User.Identity.Name).Id.ToString();

                }
                <label class="label">Komentatorius</label>
                <select asp-for="UserId" class="select" asp-items="ViewBag.User">
                    <option value="@id">@User.Identity.Name</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Product">
                    @{
                        List<SkelbimuSvetaine.Models.Product> KategorijuList = db.Products.ToList();
                        <option value="" disabled hidden selected>Rinktis skelbimą</option>
                        foreach (SkelbimuSvetaine.Models.Product c in KategorijuList)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
