@model SkelbimuSvetaine.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1 class="menu-label title is-size-5" >Kategorijos naikinimas</h1>

<h3>Ar tikrai norite tai šalinti?</h3>
<div>
    <hr />
    <div class="box">
        <p>
            Pavadinimas:
        </p>
        <p class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </p>
    </div>

    <form class="form" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Šalinti" class="button is-danger" />
    </form>
    <a class="button is-info" asp-action="Index">Atgal</a>
</div>
