@model IEnumerable<SkelbimuSvetaine.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="menu-label title is-size-5">Kategorijų sąrašas</h1>

<p>
    <a class="button is-success" asp-action="Create">Pridėti naują kategoriją</a>
</p>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>
                    Kategorija
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="button is-info" asp-action="Edit" asp-route-id="@item.Id">Redaguoti</a> 
                        <a class="button is-danger" asp-action="Delete" asp-route-id="@item.Id">Šalinti</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

